@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
	padding:0;
	margin:0;
	font-family: 'Balsamiq Sans', cursive;
}

.input{
	width: 250px;
	height: 25px;
	font-size: 1.2em;
	border: 3px solid;
	border-radius: 2px;
}

.attributes{
	width: 150px;
	height: 60px;
	font-size: 1.4em;
}

.button{
	font-size: 1em;
	width: 90px;
	height: 30px;
	border-radius: 4px;
	background-color: whitesmoke;
	float: right;
}